//min-width media queries
$min-xs-width:381;
$min-s-width:576;
$min-m-width:768;
$min-l-width:992;
$min-xl-width:1200;
$min-xxl-width:1920;

$col-names: xxs, xs, s, m, l, xl, xxl;
$container-w: 'auto','auto',750px,960px,1170px,1900px;
//width container
$container-w-xxs:auto;
$container-w-xs:$container-w-xxs;
$container-w-s:$container-w-xs;
$container-w-m:750px;
$container-w-l:960px;
$container-w-xl:1170px;
$container-w-xxl:1900px;

$max-grid-col:20;

//proprietà colonne
$padding:15px;

// COLORI
$basecolor:#333333;
$black: #040303 !default;


$btn-colors: 'raw','rare','medium','well-done','burnt';

$white: #ffffff !default;

$body-background: $white !default;

$body-font-color: $black !default;


$microwawe-palette-cold: (#E5FCC2,#9DE0AD,#45ADA8,#547980,#594F4f) !default;

$microwawe-palette-hot:(#F8B195,#e22438,#6C5B7B,#355C7D,#594F4f) !default;

//$microwawe-palette-cold: (
//  lightgreen: #E5FCC2,
//  green: #9DE0AD,
//  aquablue: #45ADA8,
//  darkblue:#547980,
//  black: #594F4f,
//) !default;


//$microwawe-palette-hot: (
//  orange: #F8B195,
//  red: #e22438,
//  darkpurple: #6C5B7B,
//  blue:#355C7D,
//  black: #594F4f,
//) !default;




//bottoni
$border-radius: 2px;
$btn-padding: 11px 14px;
$btn-padding-l: 13px 25px;
$btn-padding-s: 7px 10px;
